/* Color palette:

Black: 000000
Dark blue: 14213D
Light orange: FCA311
Light grey: E5E5E5
White: FFFFFF */

* {
  box-sizing: border-box;
  margin: 0;
}

.app-container {
  width: 80%;
  margin: auto;
}

.medium-container {
  width: 50%;
  margin: auto;
  display: flex;
}

.title-container {
  display: flex;
}

.small-img {
  /* display: inline-block; */
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.5rem;
}

.centered {
  width: fit-content;
  margin: auto;
}

.half-container {
  width: 50%;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.half-container p {
  display: flex;

}

.beer-item-card {
  display: inline-block;
  width: 10%;
  /* height: auto; */
  border: solid 1px black;
  padding: .1rem;
}

.beer-item-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px #14213D;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  align-items: flex-end;
}

.navbar li {
  padding: 0 .5rem;
}

.no-underline {
  text-decoration: none;
  color: #000000;
}

.no-underline:focus {
  outline: none;
}
