/* Color palette:

Black: 000000
Dark blue: 14213D
Light orange: FCA311
Light grey: E5E5E5
White: FFFFFF */

* {
  box-sizing: border-box;
  margin: 0;
}

.app-container {
  width: 70%;
  margin: auto;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px #14213D;
  background-color:  #14213D;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.title-container {
  display: flex;
}

.small-img {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.5rem;
  border-radius: 50%;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  align-items: flex-end;
}

.navbar li {
  padding: 0 .5rem;

}

.no-underline {
  text-decoration: none;
  color: #FCA311;
}

.no-underline:focus {
  outline: none;
}

/* BEERS */

.centered {
  width: fit-content;
  margin: auto;
}

.beers-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.displayed-beer-column-left {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding-right: 2.7rem;
}

.displayed-beer-column-right {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding-left: 2.7rem;
}

.showcased-beer-container {
  width: 70%;
  display: inline-block;
}

.big-btn {
  width: 10rem;
  height: 4rem;
  padding: 0.5rem 1rem;
  color: #FCA311;
  background-color: #14213D;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5%;
  cursor: pointer;
  margin-bottom: 1rem;
}
.big-btn::-moz-focus-inner { border: 0; }

.mini-page-btn {
  padding: 0;
  border: none;
  background: none;
  margin: 0 0.5rem;
  cursor: pointer;
  color: #000000;
  font-size: 1rem;
  font-style: inherit;
}

.mini-page-btn:hover,
.mini-page-btn:active {
  color: #FCA311;
}

.mini-page-btn-selected {
  padding: 0;
  border: none;
  background: none;
  margin: 0 0.5rem;
  cursor: pointer;
  color: #FCA311;
  font-size: 1rem;
  font-style: inherit;
}


/* SHOWCASED BEER */

.medium-container {
  width: 80%;
  margin: auto;
  display: flex;
}

.showcased-beer-text {
  width: 30%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 4rem;
  padding-bottom: 4rem; */
  margin-bottom: 1rem;
}

.showcased-beer-text-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  font-size: 1.3rem;
}

.hops-divider {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
}

.showcased-beer-img {
  width: 70%;
  height: 20rem;
  margin-bottom: 1rem;
}

.description-cursor {
  cursor: pointer;
  margin-bottom: 1rem;
}

/* BEER ITEM */

.beer-item-card {
  display: inline-block;
  width: 100%;
  /* margin-bottom: 0.1rem; */
  cursor: pointer;
}

.beer-item-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* REGISTER AND LOGIN */

.register-center {
  width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
}

.form-line {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.register-btn {
  width: 7rem;
  height: 3rem;
  padding: 0.25rem 0.5rem;
  margin: auto;
  color: #FCA311;
  background-color: #14213D;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5%;
  cursor: pointer;
}

/* BEER LIBRARY */

.beer-library-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.beer-form-width {
  width: 40%;
}

.beer-library-item-width {
  width: 60%;
}


/* BEER FORM */

.add-beer-btn {
  width: 7rem;
  height: fit-content;
  padding: 0.25rem 0.5rem;
  margin: auto;
  color: #FCA311;
  background-color: #14213D;
  font-size: 1.1rem;
  white-space: normal;
  font-weight: bold;
  border-radius: 5%;
  cursor: pointer;
}

/* BEER LIBRARY ITEM */

.beer-library-item-card {
  border: 1px solid #000000;
  margin-bottom: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
}

.top-flex-container-beer-library-item {
  width: 100%;
  display: flex;
}

.top-left-container-beer-library-item {
  width: 70%;
  padding-left: 1rem;
  padding-top: 1rem;
}

.top-right-container-beer-library-item {
  width: 30%;
  padding-right: 1rem;
  position: relative;
}

.beer-library-item-img {
  height: 7rem;
  width: 7rem;
  object-fit: contain;
  border-radius: 50%;
}

.opaque {
  opacity: 0.3;
}

.right-img-arrow {
  position: absolute;
  color: #000000;
  font-size: 2.5rem;
  right: 1rem;
  top: 2.5rem;
  cursor: pointer;
  /* display: none; */
}

.left-img-arrow {
  position: absolute;
  color: #000000;
  font-size: 2.5rem;
  left: 0;
  top: 2.5rem;
  cursor: pointer;
  /* display: none; */
}

.left-img-arrow:hover,
.right-img-arrow:hover,
.left-img-arrow:active,
.right-img-arrow:active {
  color: #FCA311;
}

.buttons-beer-library-item {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #000000;
  font-size: 0.7rem;
  font-style: inherit;
}

.buttons-beer-library-item:hover,
.buttons-beer-library-item:active {
  color: #FCA311;
}

.button-divider {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.middle-flex-container-beer-library-item {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.bottom-flex-container-beer-library-item {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem;
}
